.main {
    background-image: url('https://images.unsplash.com/photo-1529270296466-b09d5f5c2bab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80');
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 90%;
    margin-left: 5%;
    height: 180vh;
}

.makematch_space {
    // border: 2px solid rgb(182, 20, 20);
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.makematch {
    height: 80%;
    width: 30%;
    margin-top: 10%;
    margin-left: 15%;
    background-color: rgba(255, 255, 255, 0.445);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // box-shadow: -5px 5px 10px black;
    // border: 1px solid white;

    img {
        height: 40%;
        width: 100%;
    }

    div {
        width: 90%;
        height: 70%;
        background-color: white;
        text-emphasis: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        h2 {
        text-align: center;
        margin-left: 10%;
        margin-top: 50px;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
        span {
            color: rgb(59, 88, 64);
            font-size: 25px;
            line-height: 200%;
        }
        }

        h4 {
            width: 50%;
            margin-left: 10%;
            margin-bottom: 15%;
            img {
                width: 25px;
                height: 25px;
            }
        }
        
        button {
            width: 20%;
            height: 20%;
            border-radius: 100%;
            border: none;
            outline: none;
            margin-left: 40%;
            margin-top: 10%;
        }
    
        button:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(117, 75, 73);
            outline: none;
        }
    
        button:active {
            background-color: rgb(255, 196, 174);
        }
    }
    
}

.buddy_match_space {
    display: flex;
    flex-direction: row;
    // border: 2px solid red;
    width: 100%;
    height: 80%;
}

.buddy_box {
    height: 80%;
    width: 30%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: rgba(140, 140, 151, 0.658);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // border: 2px solid rgb(226, 226, 199);
    button {
        width: 20%;
        height: 20%;
        border-radius: 100%;
        border: none;
        outline: none;
    }

    button:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(73, 117, 73);
        outline: none;
    }

    img {
        width: 100%;
        height: 40%;
        margin-bottom: 0px;
    }
    div {
        width: 90%;
        height: 70%;
        background-color: white;
        color: black;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        h1 {
            color: rgb(77, 47, 47);
        }
        h4 {
            // border: 2px solid black;

            img {
                height: 25px;
                width: 25px;
            }

            span {
                color: darkblue;
            }
        }
        h2 {
    
        }
    }
}

.food_category {
    // border: 2px solid black;
    height: 25%;
    width: 100%;
    // margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    // box-shadow: -5px 5px 10px black;
    // overflow: scroll;
    div {
    height: 50%;
    margin: 5px;
    background-color: rgb(114, 44, 44);
    width: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h5 {
    font-size: 20px;
    color: white;
    background-color: black;
    height: 25px;
    }
}
    div:hover {
    animation-name: grow;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    // animation-timing-function: ease-in-out;
    }
    .type_1 {
        background-image: url("https://livewallpaperhd.com/wp-content/uploads/2017/11/Pad-Thai-Food-Wallpaper-HD.jpeg");
        background-size: cover;
    }
    .type_2 {
        background-image: url("https://www.ubackground.com/_ph/9/163571661.jpg");
        background-size: cover;
    }
    .type_3 {
        background-image: url("https://i.pinimg.com/originals/1e/6f/0a/1e6f0a48ad1168accfd7898e4e4cb9f2.jpg");
        background-size: cover;
    }
    .type_4 {
        background-image: url("https://barcelona-home.com/blog/wp-content/upload/2014/12/pizza.jpg");
        background-size: cover;
    }
    .type_5 {
        background-image: url("https://images-gmi-pmc.edge-generalmills.com/948a8b21-aa8a-443a-ba16-93cb234f4611.jpg");
        background-size: cover;
    }
    .type_6 {
        background-image: url("https://egyptianese.files.wordpress.com/2015/03/allans-falafel-middle-eastern-food.jpg");
        background-size: cover;
    }
    .type_7 {
        background-image: url("http://alliswall.com/file/11120/1920x1200/16:9/italian_food.jpg");
        background-size: cover;
    }
}

@keyframes grow {
    from {
        height: 50%;
        width: 50%;
    }
    to {
        height: 60%;
        width: 50%;
        // border: 2px solid rgb(165, 237, 255);
    }
}

.restaurants {
    height: 40vh;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    img {
        height: 60%;
        width: 30%;
         margin-left: 5%;
        // box-shadow: -3px 3px 7px black;
    }
    div {
        // border: 2px solid black;
        width: 15%;
        height: 30%;
        text-align: center;
        // box-shadow: -3px 3px 8px black;
        h5 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
            font-weight: 100;
        }
    }
        h5 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
            font-weight: 100;
            margin-right: .5%;
        }
    video {
        width: 30%;
        height: 400px;
        margin-right: 5%;
        // border: 2px solid black;
    }
}

@import './MainMobile.module.scss';

