#match-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 90%;
  margin: 10px auto;
  font-family: 'Poppins', 'Courier New', Courier, monospace;

    #user-card {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      // border: 2px solid black;
      background-color: white;
      box-shadow: -3px 3px 5px black;
      grid-column: 1/9;
      height: 80vh;
      text-align: center;

          img {
            width: 100%;
            max-height: 100%;
            grid-column: 1/7;
            grid-row: 1/4;
          }
          h2 {
            grid-column: 1/7;
            grid-row: 4/5;
            font-size: 1em;

              span {
                font-family:'Knewave', 'Courier New', Courier, monospace;
              }
          }
          h3 {
            grid-column: 1/7;
            grid-row: 5/6;
            font-size: 1em;
          }
          button {
            background-color: rgb(62, 62, 95);
            color: white;
            grid-column: 1/7;
            grid-row: 6/7;
            border: none;
            height: 80px;
            margin-top: auto;
          }
          button:hover:active {
            background-color: rgb(37, 37, 56);
          }
    }

    #match-card {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, 1fr);
      // border: 2px solid black;
      background-color: white;
      box-shadow: -3px 3px 5px black;
      grid-column: 1/9;
      height: 80vh;

            #match_profile {
              max-width: 100%;
              max-height: 100%;
              grid-column: 1/7;
              grid-row: 1/4;
              margin: auto;
            }
            #match_name {
              grid-column: 1/4;
              grid-row: 4/5;
              font-size: 1em;
              margin: auto auto auto 20px;
            }
            #match_age { 
              grid-column: 4/7;
              grid-row: 4/5;
              font-size: 1em;
              margin: auto 20px auto auto;
            }
            #match_bio {
              grid-row: 5/7;
              grid-column: 1/7;
              font-size: .7em;
              margin: 0 auto auto 30px;
            }
            #marker_icon {
              grid-row: 7/8;
              grid-column: 1/2;
              margin: auto;
            }
            #match_distance {
              grid-row: 7/8;
              grid-column: 2/4;
              font-size: .6em;
              margin: 20% auto auto 0;
            }
            #phone_icon {
              grid-column: 4/5;
              grid-row: 7/8;
              margin: auto;
            }
            #match_contact {
              grid-column: 5/7;
              grid-row: 7/8;
              font-size: .6em;
              margin: 20% auto auto 0;
            }
            button {
              background-color: rgb(62, 62, 95);
              color: white;
              grid-column: 1/7;
              grid-row: 8/9;
              border: none;
              height: 80px;
              margin-top: auto;
            }
    }

  }
  
  @media screen and (min-width: 620px) {
    
  }

  @media screen and (min-width: 800px) {
  #match-section {
    #user-card {
      grid-column: 2/8;
    }
    #match-card {
      grid-column: 2/8;

        #match_name {
          grid-column: 2/3;
        }
        #match_age {
          grid-column: 5/6;
        }
        #match_bio {
          grid-column: 2/6;
        }
        #phone_icon {
          margin: 20% 0 auto auto;
        }
        #marker_icon {
          margin: 20% 0 auto auto;
        }
    }
  }
}

  @media screen and (min-width: 1100px) {
    #match-section {

      #user-card {
        grid-column: 3/7;
        img {
          margin: 0 auto;
        }
      }
      #match-card {

        grid-column: 3/7;
          #user_profile {
            margin: 0 auto;
      }
    }
  }
  
}

