#edit_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    width: 90%;
    box-shadow: -3px 3px 10px rgb(75, 75, 75);
    #edit_hero {
        text-align: center;
        background-color: rgb(240, 251, 251);
        width: 100%;
        h2 {
            color: salmon;
            font-weight: 100;
        }
        h5 {
        }
    }
    
    #edit_inputs {
        background-color: white;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        
        img {
            max-width: 100%;
            border: 2px solid black;
        }

        div {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            margin: 0 auto;
            // border: 2px solid black;
            background-color: rgb(240, 251, 251);

            input {
                width: 60%;
                padding: 10px;
                margin: 10px auto;
                grid-column: span 2;
                border: 2px solid #384b53;
            }
            ::placeholder {
                color: black;
            }
            textarea {
                width: 80%;
                height: 80px;
                margin: 10px auto;
                grid-column: span 4;
                border: 2px solid #384b53;
            }
            button {
                width: 100%;
                height: 100%;
                padding: 10px;
                margin: 10px auto;
                grid-column: span 4;
                border: none;
                background-color: rgb(62, 62, 95);
                color: white;

            }
        }

    }

    #deactivate_account {
        height: 20vh;
        width: 100%;
        text-align: center;
        background-color: rgb(240, 251, 251);
        button {
            margin: 0 10px;
            padding: 10px;
            border: none;
            background-color: rgb(62, 62, 95);
            color: white;
        }
    }
}