// @media (max-width: 960px) {
//   .welcome {

//     .logo {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       color: rgb(62, 113, 129);
//       width: 50%;
//       height: 100%;

//           img {
//             height: 4em;
//             width: 4em;
//             margin-left: 10px;
//           }

//           h1 {
//             margin-left: 5px;
//             font-size: 3em;
//           }
//     }

//     .profile {
//       width: 70%;
          
//           img {
//             height: 5em;
//             width: 5em;
//           }
          
//           .logout_button {
//             width: 5em;
//             height: 5em;
//             margin-right: 5%;
//             font-size: 12px;
//           }

//           button:hover {
//             box-shadow: none;
//           }

//           h5 {
//             font-size: 1.5em;
//             display: none;
//           }
//     }
//   }
// }

@media (max-width: 720px) {
  .welcome {

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: rgb(62, 113, 129);
      width: 50%;
      height: 100%;

      img {
        height: 2em;
        width: 2em;
        margin-left: 10px;
      }

      h1 {
        margin-left: 5px;
        font-size: 1em;
      }
    }

    .profile {
      width: 70%;

      .logout_button {
        width: 4em;
        height: 4em;
        margin-right: auto;
        font-size: 12px;
      }
      button:hover {
        box-shadow: none;
      }

      #profile-button {
        display: none;
      }

      #settings {
        display: block;
        height: 1.5em;
        width: 1.5em;
        margin: auto;
      }

      h4 {

      }

      h5 {
        font-size: 1.2em;
        display: none;
      }
    }
  }
}
